.Banner {
  padding-top: 20px;
  background-color: var(--myWhite);
}

.contact-area {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.contact-area p {
  color: rgb(116, 114, 114);
  font-weight: 400;
  font-size: 1.5rem;
}

.Banner img {
  height: 120px;
  margin-top: -50px;
}

.banner-wrapper {
  background-color: var(--myRed);
}

@media only screen and (max-width: 988px) {
  .contact-area {
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  .contact-area p {
    margin: 0;
    font-size: 1.2rem;
  }

  .Banner img {
    height: 80px;
    margin: 0;
  }
}
