.ContactComp {
  padding-bottom: 100px;
}

.ContactComp .contact-area {
  display: flex;
  gap: 40px;
  justify-content: space-around;
}

.ContactComp .contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: orange;
  background-color: var(--myRed);
  border-radius: 10px;
}

.ContactComp .map-area {
  flex: 1;
}

.ContactComp h1 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 75px;
  font-family: 'Dongle', sans-serif;
  line-height: 60px;
  text-align: left;
}

.ContactComp .contact-details h2 {
  font-size: 55px;
  font-family: 'Dongle', sans-serif;
  line-height: 60px;
  text-align: left;
}

@media only screen and (max-width: 988px) {
  .ContactComp {
    padding-bottom: 250px;
  }

  .ContactComp .contact-details h2 {
    font-size: 35px;
    font-family: 'Dongle', sans-serif;
    text-align: left;
  }
}
