.GalleryComp {
  height: 100%;
}

.GalleryComp h1 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 75px;
  font-family: 'Dongle', sans-serif;
  line-height: 60px;
  text-align: left;
}

.GalleryComp img {
  border-radius: 20px;
}

.gal-container {
  padding: 0 100px 100px 100px;
}

@media only screen and (max-width: 988px) {
  .GalleryComp {
    padding-bottom: 250px;
  }

  .gal-container {
    padding: 0;
  }
}
