.Hero {
  position: relative;
  height: 900px;
  overflow: hidden;
  background-image: url('../assets//images/hero.jpg');
  background-size: cover;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.wrapper {
}

.hero-wrapper {
  background-color: red;
}
