.nav-bar {
  position: relative;
  padding: 20px;
  background-color: var(--myWhite);
  border-bottom: 1px solid darkgrey;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.NavComp {
  position: relative;
  background-color: var(--myRed);
}

.bar-wrapper {
  position: relative;
  padding-top: 40px;
  background-color: var(--myRed);
}

.nav-bar .nav-links {
  display: flex;
  gap: 40px;
  margin-left: 40px;
}

.sub-link {
  color: #434343;
  text-decoration: none;
}

.bar-wrapper::after {
  position: absolute;
  right: 0;
  bottom: -242px;
  left: 0;
  z-index: 1;
  max-width: 800px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  background: url('../assets//images/titlecurve.svg') no-repeat top center;
  background-size: auto;
  background-size: contain;
  content: '';
}
