.Review {
  padding: 200px 0;
}

.review-img {
  flex: 1;
  width: 100%;
  height: 700px;
  margin: 40px;
  background: url('../assets/images/review.jpg') no-repeat center;
  background-size: auto;
  background-size: cover;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 20px;
  border-bottom-left-radius: 80px;
}

.review-info {
  flex: 1;
  max-width: 500px;
  padding: 40px;
  text-align: left;
}

.stars {
  margin-bottom: 20px;
}

.Review .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.review-text {
  color: #202020;
  font-weight: 300;
  font-size: 34px;
  font-family: 'Dongle', sans-serif;
  line-height: 34px;
  text-align: left;
}

#customer {
  margin-bottom: 0px;
  color: red;
  font-size: 22px;
  font-family: 'Domine', serif;
}

#location {
  font-size: 20px;
  font-family: 'Domine', serif;
}

@media only screen and (max-width: 988px) {
  .Review {
    padding: 100px 0;
  }

  .Review .container {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .review-info {
    max-width: 100%;
    padding: 0;
  }

  .review-img {
    flex: auto;
    width: 400px;
    height: 400px;
    margin: 0;
    border-radius: 10px;
  }
}
