.welcome-content {
  display: flex;
  justify-content: space-between;
}

.info-area {
  flex: 2;
  max-width: 800px;
  margin-right: 50px;
  font-family: 'Dongle';
  text-align: left;
}

.info-area-text {
}

.info-area h1 {
  max-width: 500px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 75px;
  font-family: 'Dongle', sans-serif;
  line-height: 60px;
}

.info-area strong {
  color: black;
}

.info-area p {
  color: #646464;
  font-weight: 300;
  font-size: 28px;
  line-height: 28px;
}

.display-area {
  flex: 1;
  max-width: 500px;
  max-height: 700px;
  color: var(--myWhite);
  background-color: #1d1d1d;
  border-radius: 10px;
}

.display-area-text {
  padding: 50px;
}

.display-area p {
  font-size: 22px;
  font-family: 'Domine', serif;
  line-height: 40px;
  text-align: right;
}

.display-area img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info-area li {
  font-weight: lighter;
  font-size: 26px;
  line-height: 25px;
}
