.welcome-wrapper {
  margin-top: -130px;
  padding-top: 300px;
  background-color: white;
}

.outer-container {
  height: 900px;
  background-color: red;
}

.inner-container {
  height: 100%;
  background-color: white;
  border-bottom-left-radius: 400px;
}

.welcome-content {
  display: flex;
  justify-content: space-between;
}

.info-area {
  flex: 1;
  margin-right: 50px;
  font-family: 'Dongle';
  text-align: left;
}

.info-area h1 {
  max-width: 500px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 75px;
  font-family: 'Dongle', sans-serif;
  line-height: 60px;
}

#bolder {
  color: black;
}

.info-area p {
  color: #646464;
  font-weight: 300;
  font-size: 26px;
  line-height: 28px;
}

.display-area {
  flex: 2;
  max-width: 600px;
  color: white;
  background-color: #1d1d1d;
  border-radius: 10px;
}

.display-area-text {
  padding: 50px;
}

.display-area p {
  font-size: 22px;
  font-family: 'Domine', serif;
  line-height: 40px;
  text-align: right;
}

.display-area img {
  width: 100%;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
